@font-face {
    font-family: 'trueno';
    src: url('../fonts/truenobd-webfont.woff2') format('woff2'),
         url('../fonts/truenobd-webfont.woff') format('woff');
    font-weight: 700;
    font-style: bold;

}

@font-face {
    font-family: 'trueno';
    src: url('../fonts/truenolt-webfont.woff2') format('woff2'),
         url('../fonts/truenolt-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'trueno';
    src: url('../fonts/truenoultblk-webfont.woff2') format('woff2'),
         url('../fonts/truenoultblk-webfont.woff') format('woff');
    font-weight: 800;
    font-style: bolder;

}

body {
    min-width: 1110px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: "trueno", "Arial", sans-serif;
    color: #8a8784;
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);

}

.container {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
}

.main-header {
    margin-bottom: 50px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    background-color: #472424;
}

.main-navigation a {
    color: #ffffff;
}

.main-header-logo {
   width: 182px;
   height: 24px;
   margin-top: 29px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    margin: 0;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 20px;
    list-style: none;
}

.site-navigation li {
    margin-right: 38px;
    
}

.site-navigation a:hover {
    color: #ff7373;
}

.site-navigation a:active {
  color: #ffc0cb;
}

.user-navigation a[href]:hover {
    background-color: #ff7373;
}

.user-navigation a[href]:active {
    color: #ffc0cb;
}

.store-navigation a[href]:hover {
    color: #ff7373;
}

.store-navigation a[href]:active {
    color: #ffc0cb
}

.link-current {
    position: relative;
}

.link-current::after {
  position: absolute;
  content: "";
  top: 52px;
  left: -7px;

  width: 65px;
  height: 4px;

  background-color: #ff7373;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    margin: 0;
    padding: 0;
    list-style: none;
}


.site-navigation a,
.store-navigation,
.user-navigation a {
    display: block;
    vertical-align: middle;
}

.user-navigation li {
    
}

.user-navigation .register-link {
    padding: 20px;
}

.register-link {
    background-color: #ff7373;
}

.user-navigation .login-link {
    padding: 20px;
}

.user-navigation .cart {
    padding: 20px;
}

.secondary-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #623232;
}

.secondary-navigation a {
    color: #ffffff;
}

.store-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 665px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
}

.store-navigation a {
    display: block;
}

.store-navigation li {
    margin-left: 35px;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.banner {
    margin-bottom: 50px;
    background-image: url("../img/nikeairbanner.png");
    background-repeat: no-repeat;
    background-color: #f0efee;
}

.banner-price {
    font-size: 30px;
    color: #623232;
}

.banner h3 {
    margin: 0;
    line-height: 84px;
    margin-bottom: 25px;
    font-size: 70px;
    font-weight: 800;
    color: #623232;
}

.banner b {
    margin: 0;
    margin-bottom: 23px;
    line-height: 60px;
    font-size: 50px;
    font-weight: 800;
    color: #ff7373;
}

p.banner-price {
    margin: 0;
    margin-bottom: 22px;
}

p.banner-info {
    margin: 0;
    margin-bottom: 37px;
    line-height: 26px;
}

.banner-text--wrapper {
    padding: 136px 0 132px;
    width: 50%;
    margin-left: auto;
}

.button {
    box-sizing: border-box;
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-style: bold;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.banner-button {
    padding: 10px;
    min-width: 255px;
    color: #ffffff;
    background-color: #ff7373;
}

.banner-button:hover,
.banner-button:focus {
  background-color: #e74246;
}

.banner-button:active {
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}


.advertising p {
    font-size: 30px;
    color: #ffffff;
}

.advertising span {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4bd8cd;
}

.advertising h3 {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
}

.advertising-primary {
    position: relative;
}

.advertising-primary h3 {
    position: absolute;
    text-align: center;
    top: 0;
    left: 149px;
    font-weight: 400;
}

.advertising-primary-newarrivals .newarrivals {
    color: #ffffff;
}

.advertising-primary-newarrivals {
    margin-bottom: 30px;
    padding-left: 190px;
    padding-top: 13px;
    box-sizing: border-box;
    width: 540px;
    height: 255px;
    text-align: center;
    background-image: url("../img/new-arrivals.png");
    background-repeat: no-repeat;
    background-color: #ff7373;
}

.advertising {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}

.advertising-container {
    display: flex;
    justify-content: space-between;
}

.advertising-small h3 {
    margin-top: 148px;
    margin-bottom: 50px;
    font-weight: 400;
    text-align: center;
}

.advertising-small {
    width: 255px;
    height: 255px;
    text-align: center;
    background-image: url("../img/best-for-athletes.png");
    background-position: 30% 180%;
    background-repeat: no-repeat;
    background-color: #2d2f2e;
}

.advertising-small-premium {
    width: 255px;
    height: 255px;
    text-align: center;
    background-image: url("../img/feel-premium.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #cecece;
}

.advertising-small .athletes {
    color: #ff7373;
}

.advertising-small-premium .advertising-title--premium {
    font-weight: 400;
    color: #6b7072;
}

.advertising-small-premium .premium {
    color: #ffffff;
}

.collection-button {
    position: absolute;
    left: 165px;
    bottom: 50px;
    min-width: 211px;
    padding: 15px;
    color: #000000;
    background-color: #4bd8cd;
}

.collection-button:hover,
.collection-button:focus {
  background-color: #3cada4;
}

.collection-button:active {
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  color: rgba(255, 255, 255, 0.3);
  background-color: #308a83;
}

.discover-button {
    min-width: 145px;
    padding: 14px;
    color: #ffffff;
    background-color: #623232;
}

.discover-button:hover,
.discover-button:focus {
  background-color: #4e2828;
}

.discover-button:active {
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  color: rgba(255, 255, 255, 0.3);
  background-color: #3e2020;
}

.sort-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sort-item .current {
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    color: #623232;

}

.sort-link {
    margin-right: 38px;
    font-size: 30px;
    text-transform: uppercase;
    color: #bdb9b5;
}

.sort-link:hover,
.sort-link:focus {
  color: rgba(000, 000, 000, 0.6);
}


.sort-link:active,
.sort-item .current {
  color: #623232;

  cursor: default;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    vertical-align: bottom;
    min-height: 350px;
    margin-bottom: 110px;

    list-style: none;
}

.catalog-item:not(:nth-of-type(4n)) {
    margin-right: 30px;
}

.current-price {
    position: absolute;
    margin: 0;
    font-size: 24px;
    line-height: 26px;
    color: #8a8784;
}

.old-price {
    display: inline-block;
    margin-top: 30px;
}

.price-wrapper {
  position: absolute;
  outline: 1px solid red;
  top: 10px;
  width: calc(100% - 20px);
}

.catalog-item {
    position: relative;
    width: 200px;
    outline: 1px solid black;
    padding: 10px;
    margin-bottom: 31px;
}

.catalog-item img {
    display: block;
}

.catalog-item .convblue-price {
    color: #ff7373;
}

.catalog-item .adidaspure-price {
    color: #ff7373;
}


.catalog-item .asicsgel-price {
    color: #ff7373;
}

.catalog-item b {
    margin-bottom: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.category-men {
    display: block;
}

.item-number {
    font-size: 13px;
    cololr: #bdb9b5;
}

.partners-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.avatar-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.avatar-item {
    font-weight: 700;
    color: #ffffff;
}

.author-raiting {
    list-style: none;
}

.reviews {
    background-color: #472424;
}

.review-list {
    list-style: none;
}

.review-item p {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

.news-list {
    display: flex;
    list-style: none;
}

.news-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #623232;
}

.news-item img {
    margin-bottom: -150px;
    margin-left: -30px;
}

.news-item b {
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.news-item p {
    color: #ffffff;
}

.news-item p:last-of-type {
    font-size: 13px;
    color: #ff7373;
}

.contacts-help {
    min-width: 211px;
    padding: 15px;
    font-weight: 700;
    color: #ffffff;
    background-color: #623232;
}

.contacts-help:hover,
.contacts-help:focus {
  background-color: #714646;
}

.contacts-help:active {
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  color: rgba(255, 255, 255, 0.3);
  background-color: #653f3f;
}


.contacts { 
    background-color: #ff7373;
}


.contacts p {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.contacts p:last-of-type {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-transform: none;
}

.main-footer {
    background-color: #623232;
}

.delivery-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.delivery-item {
    color: #ffffff;
}

.address-list {
    list-style: none;
}

.address-item b {
    font-weight: 700;
    text-transform: uppercase;
    color: #ff7373;
}

.address-item p {
    color: #ffffff;
}

.address-item a {
    color: #ffffff;
}

.address-item a:hover {
    color: #ff7373;
}

.address-item a:active {
  color: #ffc0cb;
}

.address-item p:hover {
    color: #ff7373;
}

.address-item p:active {
  color: #ffc0cb;
}

.footer-navigation {
    display: flex;
}

.footer-navigation a:hover {
    color: #ff7373;
}

.footer-navigation a:active {
    color: #ffc0cb;
}
.address-item {
    font-style: normal;
}
.footer-navigation h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #ff7373;
}

.navigation-list {
    list-style: none;
}

.navigation-list a {
    line-height: 36px;
    color: #ffffff;
}

.categories-list {
    list-style: none;
}

.categories-list a {
    line-height: 36px;
    color: #ffffff;
}

.sales-list {
    list-style: none;
}

.sales-list a {
    line-height: 36px;
    color: #ffffff;
}

.support-list {
    list-style: none;
}

.support-list a {
    line-height: 36px;
    color: #ffffff;
}

.copyright {
    line-height: 36px;
    color: #ffffff;
}

.social-list {
    list-style: none;
}